<div class="tpw-intro-wrap">
  <div>
    <div>
      <img src="../../assets/couple.png" />
      <div class="tpw-flags-wrap">
        <div>
          <div>
            <div>
            <a routerLink="/info/pl">
              <div class="flag polish">
                <div class="back">
                  <div class="line-1 white-bg"></div>
                  <div class="line-2 red-bg"></div>
                </div>
                <div class="front">
                  <div class="line-1 white-bg"></div>
                  <div class="line-2 red-bg"></div>
                </div>
                <div class="hearth"></div>
              </div>
            </a>

            <a routerLink="/info/lt">
              <div class="flag lithuanian">
                <div class="back">
                  <div class="line-1 yellow-bg"></div>
                  <div class="line-2 green-bg"></div>
                  <div class="line-3 red-bg"></div>
                </div>
                <div class="front">
                  <div class="line-1 yellow-bg"></div>
                  <div class="line-2 green-bg"></div>
                  <div class="line-3 red-bg"></div>
                </div>
                <div class="hearth"></div>
              </div>
            </a>

            <a routerLink="/info/en">
              <div class="flag gb">
                <div class="hearth"></div>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>