/*
	Color theme
*/

$snowWhite: #FFF;
$rosePink: #ff46af;
$bloodyMilk: #ded1ca;
$cacaoBrown: #8c7466;
$gumBlue: #3399ff;

$default-font-color: #222;

/*
	Fonts
*/

$default-font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$variation-font-1: 'Alex Brush', cursive;
$variation-font-2: 'Amatic SC', cursive;