@import "Source/Styles/variables";
@import "Source/Styles/Normalize/normalize";
@import "Source/Styles/Skeleton/skeleton";

@import "Source/Styles/mixins";

@import "Source/Styles/Layout/Header/header";
@import "Source/Styles/Layout/section";

.text-pink {
	color: $rosePink;
}

.text-blue {
	color: $gumBlue;
}

.background-milkrose {
	background-color: $bloodyMilk;
}

.separator-bottom {
	background-image: url("Images/separator2.png");
	background-repeat: repeat-x;
	background-position: bottom;
}