<div class="card border-0 h-100">
  <div class="card-block">

    <div class="list-group">
      <span class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ 'faqOneTitle' | translate }}</h5>
        </div>
        <p class="mb-1">{{ 'faqOneDescription' | translate }}</p>
      </span>
      <span class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ 'faqTwoTitle' | translate }}</h5>
        </div>
        <p class="mb-1">{{ 'faqTwoDescription' | translate }}</p>
      </span>
      <span class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ 'faqThreeTitle' | translate }}</h5>
        </div>
        <p class="mb-1">{{ 'faqThreeDescription' | translate }}</p>
      </span>
      <span class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ 'faqFiveTitle' | translate }}</h5>
        </div>
        <p class="mb-1">{{ 'faqFiveDescription' | translate }}</p>
      </span>
      <span class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ 'faqFourTitle' | translate }}</h5>
        </div>
        <p class="mb-1">{{ 'faqFourDescription' | translate }}</p>
      </span>
    </div>

  </div>
</div>